body {
    margin: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
}