body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

.header {
  display: flex;
  justify-content: center;
  gap: 50px;
  width: 90%;
  align-items: center;
  margin: 0 auto;
}

.nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav ul li {
  cursor: pointer;
}

.nav ul li:hover {
  text-decoration: underline;
}

.calories-consumed {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.calories-consumed h2 {
  margin-left: 10px;
}

.calories-goal-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.macros-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.meal-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.meal-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.meal-card button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
  align-self: right;
}

.meal-info label{
  display: block;
  margin-bottom: 10px;
  
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-form {
  background-color: #ffffff;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.popup-form h2 {
  font-size: 20px;
  color: #333333;
  margin: 0 0 10px;
}

.meal-info label {
  font-size: 14px;
  color: #666666;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: bold;
}

.meal-info input[type="text"],
.meal-info input[type="number"],
.meal-info input[type="time"] {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.meal-info input:focus {
  outline: none;
  border-color: #0463f3; 
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
}

.popup-form button {
  background-color: #0463f3;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.popup-form button:hover {
  background-color: #01327d;
}