body {
  --background-color: white;
  --text-color: black;
  --element-color: white;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

main,
header,
.stats,
.settings {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}

main.dark,
header.dark,
.popup-form.dark,
.stats.dark,
.settings.dark {
  --background-color: black;
  --text-color: white;
  --element-color: rgb(50, 50, 50);
}

main {
  padding: 24px;
  min-height: calc(100vh - 40px);
}

.header {
  display: flex;
  justify-content: center;
  gap: 50px;
  width: 100%;
  align-items: center;
  margin: 0 auto;
}

.nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav ul li {
  cursor: pointer;
}

.nav ul li:hover {
  transform: scale(1.05);
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.calories {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

.calories-consumed {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.calories-consumed label {
  font-weight: bold;
}

.calories-consumed input[type="date"] {
  padding: 3px;
  border-radius: 4px;
  border: 1px solid var(--text-color);
  background-color: var(--background-color);
  color: var(--text-color);
}

.calories-consumed input[type="date"]:focus {
  outline: none;
}

.calories-goal-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.macros-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  margin: 30px 0;
}

.meal-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.meal-card {
  background-color: var(--background-color);
  border: 1px solid var(--text-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 400px;
  max-width: 400px;
  padding: 15px;
}

.meal-card h3 {
  margin-bottom: 10px;
}

.meal-card p {
  margin: 10px 0;
  color: var(--text-color);
}

.meal-card .add-btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: var(--element-color);
  color: var(--text-color);
  transition: 0.3s ease;
}

.meal-card .add-btn:hover {
  transform: scale(1.2);
}

.meal-card li {
  list-style: none;
  margin-bottom: 10px;
}

.meal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.meal-items {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.meal-items:last-child {
  border-bottom: none;
}

.meal-items .remove-btn {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 1rem;
  transition: 0.3s ease;
}

.meal-items .remove-btn:hover {
  transform: scale(1.5);
  background-color: var(--background-color);
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  color: var(--text-color-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-form {
  background-color: var(--background-color);
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px var(--text-color);
  z-index: 1001;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.popup-form h2 {
  font-size: 20px;
  color: var(--text-color);
  margin: 0 0 10px;
}

.meal-info label {
  font-size: 14px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: bold;
}

.meal-info input[type="text"],
.meal-info input[type="number"],
.meal-info input[type="time"] {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.meal-info input:focus {
  outline: none;
  border-color: #0463f3;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
}

.popup-form button {
  background-color: #0463f3;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.popup-form button:hover {
  background-color: #01327d;
}

#darkModeToggle {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

#darkModeToggle:hover {
  transform: scale(1.05);
}

.statistics-heading {
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart {
  width: 70%;
}

.stats {
  min-height: calc(100vh + 40px);
}

.settings {
  min-height: calc(100vh - 40px);
}

.settings-heading {
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  max-width: 500px;
  margin: 0 auto;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 8px;
}

.options label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  color: var(--text-color);
}

.options input[type="number"],
.options select {
  margin-top: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid var(--text-color);
  border-radius: 4px;
  outline: none;
}

.options input[type="number"]:focus,
.options select:focus {
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.4);
}

.goal-radio-group {
  font-size: 1rem;
  color: var(--text-color);
  display: flex;
  align-items: center;;
}

.goal-radio-group label {
  margin-right: 1rem;
  margin-left: 1rem;
}

.goal-radio-group input {
  margin-right: 0.5rem;
}

.options input:hover,
.options select:hover {
  border-color: #007bff;
}

.average-cal {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 10px;
  color: var(--text-color);
}

.average-cal h3 {
  font-size: 18px;
  margin: 10px 0;
  line-height: 1.5;
  color: var(--text-color);
}

.average-cal sup {
  font-size: 12px;
}

@media (max-width: 768px) {
  .home {
    gap: 10px;
  }

  .calories {
    padding: 15px;
  }

  .meal-container {
    grid-template-columns: 1fr;
  }

  .meal-card {
    padding: 10px;
  }
  .average-cal {
    padding: 15px;
  }

  .average-cal h3 {
    font-size: 16px;
  }

  .options {
    padding: 1rem;
    gap: 1rem;
  }
}